@import url('https://fonts.googleapis.com/css?family=Lemonada:400,600&display=swap');

$font: 'Lemonada', cursive;

* {
  font-family: $font;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 75vh;
  margin: 10vh auto;

  .App-header {
    width: 90%;
    padding: 20px;
    align-self: center;
    text-align: center;
    border: 2px solid #574b90;

    
    @media screen and (max-width: 700px) {
      width: 95%;
    
      padding: 30px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 26px;
     
     
    }
  }

  .App-container {
    width: 90%;
    height: 52vh;
    padding: 20px;
    align-self: center;
    text-align: center;
    border: 2px solid #786fa6;

    @media screen and (max-width: 700px) {
      width: 95%;
      height: 80vh;
      padding: 30px;
    }

    .question {
      margin: 25px 10px;
      font-size: 1.2em;
      @media screen and (max-width: 700px) {
        font-size: 1em;
       }
    }

   
    
    ul {
      margin-top: 5vh;
      list-style: none;

      .option {
        list-style: none;
        border: 1px solid #303952d7;
        width: 80%;
        font-size: 16px;
        line-height: 1.5;
        margin: auto;

        @media screen and (max-width: 700px) {
          width: 98%;
         }
        &:hover, &:focus {
          background-color:#786fa6ad;
          color: ghostwhite;
        
          label.radioCustomLabel:before {
            background-color:#574b905e;
            border: 1px solid#303952;
          }
        }

      
       
        

        .radioCustomButton, .radioCustomLabel {
          display: inline-block; 
          vertical-align: middle;

        }

        input{
          width: 0%;
          opacity: 0;

        }
        
        label.radioCustomLabel {
          position: relative;
          width: 100%;
          font-size: 16px;
          line-height: 1.5;
          padding: 30px 20px;
          cursor: pointer;

          @media screen and (max-width: 700px) {
            padding: 15px 10px;
            font-size: 12px;
          }
        

          &:before {
            position:absolute;
            width: 28px;
            height: 28px;
            left: 40px;
            content: '';
            display: inline-flex;
            vertical-align: middle;
            background-color: ghostwhite;
            border: 1px solid#303952;
            border-radius: 50%;
            
            @media screen and (max-width: 700px) {
              width:14px;
              height: 14px;
              left: 20px;
            }
          }
          }
      }
      }

      .result {
        background-color: #574b90;
        color: ghostwhite;
        display: flex;
        height: 100%;
        h2 {
          margin: auto;
          font-size: 2.5rem;
          font-weight: 300;
          @media screen and (max-width: 700px) {
            font-size: 1em;
           }
        }
      }
    } 
  }
